.skills__cards {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;

}

.skills__card {
    margin: 1%;
    width: calc(50% - 4%)
}

.fa-brands {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.card__title {
    margin-top: .5rem;
   
}

@media screen and (max-width: 767px) {
    .skills__card {
        width: calc(50% - 1%)

    }
    
    .skills__card:nth-child(2n+1) {
        margin-left: 0;
    }
    .skills__card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .skills__card {
        width: calc(33% - 1%)

    }
    
    .skills__card:nth-child(3n+1) {
        margin-left: 0;
    }
    .skills__card:nth-child(3n) {
        margin-right: 0;
    }

}