.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  1.75rem 0;
}

.header__logo {
    width: 124px;
}

.header__menu {
    display: flex;
}

.menu__items {
    list-style: none;  
}

.menu__link {
    color: var(--font-color);
}

@media screen and (min-width: 0) {
    .links__btn {
        display: none;
    }

    .menu__link {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {
    .mailContact {
        font-weight: bold;
    }

    .header__logo {
        width: 134px;
    }
}

@media screen and (min-width: 1024px) {
    .links__btn {
        display: block;
    }
    .menu__items {
        margin-left: 1rem;
    }
}