.contact__form .form__header, .form__title {
    margin-bottom: 1rem;
}

.contact__form .form__information {
    font-size: 0.9rem;
}

.contact__form .form__btn {
    border: none;
    font-size: 90%;
    width: 50%;
}