@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --font-color: #464646;
    --bg-color: #F5F5F5;
    --bgBlue-color: #EAF2FD;
    --primary-color: #2A7AE4;
    --hover-color: #D4E4FA;
}
body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg-color);
}

/* a {
    text-decoration: none;
} */

a:hover {
    text-decoration: underline;
}

input {
    display: block;
}

.container {
    padding-right: 4%;
    padding-left: 4%;
}

.title--one {
    font-size: 1.35rem;
    font-weight: bold;
    
}

.title--two {
    font-size: 1.35rem;
    font-weight: bold;
}


.title--three {
    font-size: .9rem;
    font-weight: bold;
}

.title--center {
    text-align: center;
}

.margin {
    margin: 0.5rem 0 1rem 0;
}

.text {
    font-size: 0.9rem;
    line-height: 1rem;

}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 118px;
    justify-content: flex-end;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}

.card:hover {
    background: #f7faff;
    box-shadow: 4px 4px 4px #3d8ff90f;
    transform: scale(1.04)
}

@media screen and (min-width: 768px) {
     .title--one {
        font-size: 2rem;
        
        
    }

}

@media screen and (min-width: 1024px) {
    .container {
        padding-right: 8%;
        padding-left: 8%;
    }
    
    .title--one {
        font-size: 3rem;
        
        
    }

}
