.scholls__title {
    text-align: center;
    margin-bottom: 1.2rem;
}

.scholls__cards {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.scholls__card {
    margin: 1rem 1%;
    border: solid 1px 
    
}

.scholls__card:first-child {
    margin-left: 0;
}
.scholls__card:last-child {
    margin-right: 0;
}

.card__imageBox {
    background: white;
    width: 100%;
    padding: 2rem;
}

.imageBox__img {

    display: block;
    margin: 0 auto;
    width: 60%;
}

.card__title {
    margin: 0.7rem 0 0.3rem
}

@media screen and (min-width: 0) {
    .scholls__cards {
        flex-wrap: wrap;
    }
    .scholls__card { 
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .scholls__cards {
        flex-wrap: wrap;
    }
    .scholls__card { 
        width: 32%;
        margin: 0;
    }
    
}