.hero__image {
    width: 100%;
}

.image__profile {
    width: 30%;
    border-radius: 100%
}

@media screen and (min-width: 768px) {
    .hero__image{
        width: 25%;
    }
    .image__profile {
        width: 100%;
    }
}