.hero__profile {
    width: 100%;
}
.profile__linkItems {
    display: flex;
    justify-content: space-between;
}

.profile__link {
    /* font-weight: bold; */
    font-size: 14px;  
}

.fa-arrow-up {
    transform: rotate(45deg) translateY(2px);
    margin-left: 6px;
}

@media screen and (min-width: 768px) {
    .hero__profile {
        width: 65%;
    }
}

@media screen and (min-width: 1024px) {
    .profile__text {
        width: 90%;

    }
    
    .profile__linkItems {
        width: 60%;
     }

}