.hero__image {
    width:25%;
}

.image__profile {
    border-radius: 100%;
    
}

@media screen and (min-width: 0) {
    .image__profile {
        height: 98px;
    }
}

@media screen and (min-width: 768px) {

    .image__profile {
        height: 146px;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .image__profile {
        
        height: 320px;
        margin-left: 2rem;
    }
}